*{
    margin: 0;
    padding: 0;
    border: none;
    font-style: normal;
    text-align: left;
    box-sizing: border-box;
    :root{
        font-size: 16pt;
    }
    
    main {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        font-family: 'klee',sans-serif;
        //background: linear-gradient(135deg,#00B2BD,#02b5be7c);
        background: #00b4bd2a;
        .profile-photo img {
            display: block;
            margin: 0 auto;
            width: 175px;
            height: 175px;
            border-radius: 50%;
            margin-bottom: 10px;
        }
        .profile-text {
            margin: 0 auto;
            max-width: 750px;
            color: rgb(0, 0, 0);
            
            h1 {
                text-align: center;
                font-size: 2rem;
                letter-spacing: 0.1em;
            }
            .Furigana{
                margin-bottom: 50px;
            }
            
            p{
                text-align: center;
            }
            h2{
                font-style: normal;
                text-align: center;
                margin-top: 30px;
            }
            
            .social {
                justify-content: center;
                list-style: none;
                display: flex;
                margin-top: 2rem;
                
                li{
                    line-height: 1;
                    padding: 0.5rem;
                    font-size: 1.5rem;
                    
                    a{
                        text-decoration: none;
                        color: rgb(0, 0, 0);
                        transition: 1s color;
                    }
                    a:hover{
                        color:#f00;
                    }
                }
            }
            .link{
                display: flex;
                justify-content: space-around;
                margin-top: 50px;
                color: black;
                
                li{
                    list-style: none;
                    
                    a{
                        display       : inline-block;
                        border-radius : 5%;          /* 角丸       */
                        font-size     : 11pt;        /* 文字サイズ */
                        text-align    : center;      /* 文字位置   */
                        cursor        : pointer;     /* カーソル   */
                        padding       : 12px 29px;   /* 余白       */
                        background    : #00b2bd;     /* 背景色     */
                        color         : #000000;     /* 文字色     */
                        line-height   : 1em;         /* 1行の高さ  */
                        transition    : .3s;         /* なめらか変化 */
                        box-shadow    : 4px 4px 8px #666666;  /* 影の設定 */
                        border        : 2px solid #00b2bd;    /* 枠の指定 */
                    }
                    a:hover{
                        box-shadow    : none;        /* カーソル時の影消去 */
                        color         : #00b2bd;     /* 背景色     */
                        background    : #ffffff;     /* 文字色     */
                    }
                }
            }
        }
    }
}